/* Css Reset */
@import url(./reset.css);

/* Root Variables */
:root{
  --color-nutmeg: hsl(14, 45%, 36%)
  --color-dark-raspberry: hsl(332, 51%, 32%)
  --color-white: hsl(0, 0%, 100%)
  --color-rose-white: hsl(330, 100%, 98%)
  --Light-Grey: hsl(30, 18%, 87%)
  --Wenge-Brown: hsl(30, 10%, 34%)
  --Dark-Charcoal: hsl(24, 5%, 18%)
}

/* Font */
* {
  font-family: sans-serif;
}

l1{
  color: var(--color-Dark-Charcoal);
}
h2 {
  color: var(--color-nutmeg);
}

section {
  padding: 1 rem;
}

#image-section{
  padding: 0;
}
#Duration Details{
background-color: var(--color-rose-white);
padding: 1rem;
border-radius: 1rem;
}
table{
  width: 100%;
}

td{
  width: 50%;
}
